.ligth-box{
    z-index: 100;
    width: auto;
    min-width: 300px;
    height: auto;
    position: fixed;
    top: 0;
    right: 0;
    font-family: sans-serif;
    padding: .5rem;
    margin-top: .5rem;
    margin-right: 1rem;
    opacity: 0.9;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
}

.danger{
    background:#dc3545;
}

.success{
    background: #198754;
}