h1, h2{
    text-align: center;
    margin: 5px 5px;
}

form{
    width: 350px;
    margin: 50px auto;
    padding: 1rem;
    border-radius: 4px;
    color: gray;
    font-weight: bold;
    background: #f8f9fa;
    font-family: sans-serif;
}

.form-group{
    margin-bottom: 1rem;
}

label{
    display: block;
}

input{
    width: 100%;
    margin: 0 auto;
    padding: .4rem;
    max-width: 100%;
}

button{
    display: block;
    padding: 1rem;
    width: 100%;
    color: #fff;
    font-weight: 800;
    background-color: #0d6efd;
    border: none;
}

@media (max-width: 720px) {
    form{
        width: 100%;
    }
}