.d-block{
  display: block;
}

.d-none{
  display: none;
}

menu{
  margin-bottom: 1em;
}

ul button{
  display: block;
  margin-bottom: 4px;
}
li{
  list-style: none;
}

@media (min-width: 720px) {
  ul{
      display: flex;
      justify-content: space-around;
  }
}